/*limpiar estilos por defecto*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.body-bg {
    width: 100%;
    background-image: url(LoLFont.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
}


/*Crear sistema de grillas: contenedor del sistema*/

.container {
    display: grid;
    width: 100%;
    margin: 0px auto;
    height: 100vh;
    grid-column: minmax(8.333333333333332%, 100%);
    grid-template-rows: minmax(10px, auto);
}


/*Crear columnas*/


/*estilo general del sistema*/

[class*='col-'] {
    float: left;
    min-height: 10px;
    /* margin: 30px; */
    padding: 12px;
    /* display: flex; */
    background-color: none;
}


/*cada columna mide 8.33%*/

.col-1 {
    width: 8.333333333333332%;
}

.col-2 {
    width: 16.666666666666664%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333333333%;
}

.col-5 {
    width: 41.66666666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333333333336%;
}

.col-8 {
    width: 66.66666666666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333333334%;
}

.col-11 {
    width: 91.66666666666666%;
}

.col-12 {
    width: 100%;
}


/*Crear filas*/

.row {
    margin: auto;
    width: 100%;
    height: auto;
}


/*Estilos Menu Navegacion*/

header {
    width: 100%;
}

nav {
    margin: 0.1% auto;
    width: 90%;
    max-width: 1600px;
}

nav ul {
    list-style: none;
}


/*Especificidad de > con el le decimos que toma a los ul que sean hijos de navr*/

nav>ul {
    display: table;
    overflow: hidden;
    width: 100%;
    background-color: #0A1616;
    position: relative;
}

nav>ul li {
    display: table-cell;
    text-align: center;
}

nav>ul li a {
    color: #CD951A;
    display: block;
    line-height: 60px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav>ul>li>a>span {
    background-color: #0A1616;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav>ul>li>a>span.icon {
    display: block;
    text-align: center;
    align-items: center;
    line-height: 40px;
}

nav>ul>li a:hover>span {
    top: 0;
}


/*Estilos de  footer*/

.copyright {
    color: #CD951A;
}


/*Estilos de  section welcome*/

.section-welcome-header {
    color: #785C20;
    display: block;
    margin-top: 80px;
}

.w-header {
    color: #785C20;
    display: block;
    text-align: center;
}

.welcome-content {
    display: block;
    color: #785C20;
    text-align: center;
}

.engagement {
    text-align: center;
}

.welcome-img {
    display: block;
    width: 40%;
    height: 200px;
    margin: 20px;
    align-items: center;
}

.info-basic {
    text-align: center;
}

.button-meet-c {
    text-decoration-skip-ink: none;
    -moz-text-decoration-style: none;
    background-image: url(arrow-lol.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0A1616;
    color: #CD951A;
    border: none;
    height: 15px;
}


/*Estilos de Modal*/


/*Estilo del flexbox modal*/

.flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Estilos de boton del Modal:*/

.b-m-button {
    background-color: none;
    align-items: center;
    display: inline-block;
    padding: 8 px;
    border-radius: 100%;
    overflow: hidden;
}

.b-m-button:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


/*Estilos del Contenido del Modal*/

.m-header,
.m-footer {
    text-align: center;
    padding: 8px 16px;
    background-color: #0A1616;
    color: #E4B04C;
    border-radius: 25%;
}

.m-body,
.m-text {
    text-align: center;
    padding: 20 px 16px;
    border-radius: 25%;
}

.m-box {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(191, 160, 4, 0.465);
    ALIGN-ITEMS: CENTER;
    JUSTIFY-CONTENT: CENTER;
}

.m-content {
    display: grid;
    text-justify: auto;
    position: relative;
    background-color: #03080B;
    color: #785C20;
    margin: 33%;
    width: 30%;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
    border-radius: 25%;
    animation-name: modal;
    animation-duration: 1s;
}

.text-m-content {
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}


/*Animación del Modal*/

@keyframes modal {
    from {
        top: -330px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: #785C20;
    font-size: 25px;
    font-weight: bold;
}

.close:hover {
    color: rgb(219, 233, 148);
    text-decoration: none;
    cursor: pointer;
}


/* Estilos seccion Champions*/


/*1.- estilos del submenu */

.section-champions {
    width: 100%;
    height: 100%;
}

.main-cards {
    width: 80%;
    height: 80%;
    margin: auto;
}

.box-cards {
    width: 100%;
    height: 100%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    padding: 50px position: relative;
    margin: 10px auto;
}

.card {
    background-image: url(card-frame.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #0A1616;
    color: #CD951A;
    width: 20%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    margin: 10px auto;
}


/* .card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
}

.card-front {
    transform: rotateX(0deg);
    z-index: 2;
    font: 1em/1.8em Arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back {
    transform: rotateX(180deg);
    background: repeating-linear-gradient( -45deg, #ececec, #ececec 10px, #dedede 10px, #dedede 20px);
} */

.card-img {
    display: block;
    padding: auto;
    margin: 1%;
    border: 3px solid red;
}

.champion-img {
    width: 75px;
    height: 75px;
}

.card-alias {
    display: block;
    padding: auto;
    margin: 1%;
    border: 3px solid aqua;
}

.card-text {
    width: 60%;
    display: block;
    padding: auto;
    margin: 1%;
    border: 3px solid olive;
}